<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help my dick, bitch</title>
    <link rel="stylesheet" href="./css/styles.css" type="text/css" />
  </head>
  <body>
    {{>header}}
    {{#each users}}
  <h2>{{username}}</h2>
  <!-- Display other user information as needed -->
{{/each}}

    {{>footer}}
  </body>
</html>